.About-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 1200px;
	padding: 0;
	margin: 0;
}

.About-title {
	text-align: center;
}

.About-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0;
	gap: 50px;
}

.About-section h2 {
	font-weight: 500;
	font-size: 2.4rem;
	margin: 16px 0;
}

.About-section-text p {
	font-size: 1.5rem;
}

.About-credits {
	text-align: center;
	margin-left: 250px;
}

@media only screen and (max-width: 900px) {
	.About-main {
		max-width: 600px;
	}

	.About-section {
		flex-direction: column;
		text-align: center;
	}

	.About-credits {
		margin-left: 0;
	}
}
