.List > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 50px;
	border-bottom: 1px solid #e0e0e0;
}

.List > div:first-child button {
	height: 25px;
	width: 100px;
	border: '1px solid tomato';
	border-radius: '8px';
	display: 'flex';
	flex-direction: 'column';
	gap: '.25em';
	margin-top: '.5em';
	padding: '.5em';
	place-items: 'center';
	cursor: pointer;
}

.List-share-email-dialog-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.List-items-section {
	list-style-type: none;
}

.List-add-item-button {
	border: none;
	background: none;
	z-index: 3;
	position: fixed;
	left: 50%;
	top: 80%;
	transform: translate(-50%, -50%);
	cursor: pointer;
}

.List-add-item-button img {
	width: 100%;
	max-width: 100px;
}

@media (min-width: 600px) {
	.List-add-item-button {
		left: 75%;
		top: 50%;
		max-width: 200px;
	}
}

.list-section-divider {
	margin-top: 30px;
	width: 80%;
	display: flex;
	margin-left: 0;
}
