.List > div:first-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 50px;
	border-bottom: 1px solid #e0e0e0;
}

.List-share-add-search {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.List-share-add-search > form input {
	display: flex;
	flex-grow: 1;
}

.List-share-add {
	/* flex: 1; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.List-share-email-dialog-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.List-items-ul {
	list-style-type: none;
	display: flex;
	flex-direction: column;
	gap: 20px;
	/* margin-top: 10px; */
}

.add-item-button {
	margin-left: 10px;
}

.no-items-text {
	margin: 0;
}

.add-item-helper-text {
	margin: 0;
	padding-left: 30px;
}

.List-section-header {
	margin: 0px;
}
