.list-inner-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 50px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e0e0e0;
}

.share-email-dialog-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}
.share-list-button {
	height: 25px;
	width: 100px;
	border: '1px solid tomato';
	border-radius: '8px';
	display: 'flex';
	flex-direction: 'column';
	gap: '.25em';
	margin-top: '.5em';
	padding: '.5em';
	place-items: 'center';
	cursor: pointer;
}
