.ManageList-share-email-dialog-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 1em;
}

.add-item-button {
	margin-left: 10px;
}

/* Styling Section for search Input
/* https://www.youtube.com/watch?v=f6ocDCkCmhM */

/* .search-build {
	--padding: 8px;
	min-height: 50px;
	display: flex;
	align-items: center;
	padding: 0 8px;
	border-radius: 28px;
	background-color: var(--color-gray-light);
	transition: background-color 0.3s;
}

.search-build:focus-within {
	background: rgb(238, 238, 238);
}

.search-input {
	font-family: 'Lexend', sans-serif;
	color: #333;
	margin-left: var(--padding);
	outline: none;
	background-color: transparent;
	border: none;
	flex: 1;
	padding: 0;
}

.search-input::placeholder,
.search-icon {
	color: #c2c2c2;
}

.new-list {
	display: none;
}

#shopping-list-input {
	padding: 0.5em 1em;
	margin: 0.5em 0;
	border-radius: 15px 0px 0px 15px;
	height: 38px;
	width: 300px;
}

.create-list-btn {
	font-size: 1.6rem;
	padding: 0.5em 1em;
	margin: 0.5em 0;
	min-height: 38px !important;
	border-radius: 0px 15px 15px 0px !important;
} */
