.Dialog {
	--button-alignment: 'center';

	border-radius: 20px;
	max-width: min(68ch, 95vw);
	padding: 0;
	z-index: 1;
	animation:
		slideInFromRight 0.8s ease-out,
		slideOutToRight 0.8s ease-in forwards;
}

.Dialog::backdrop {
	background: rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.Dialog h2 {
	font-size: 1.6em;
	margin: 0;
}

.Dialog--container {
	display: flex;
	flex-direction: column;
	padding: 1.6em;
}

.Dialog--button-group {
	align-self: var(--button-alignment);
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	margin-block-start: 1.2rem;
}

@media only screen and (min-width: 700px) {
	.Dialog {
		--button-alignment: flex-start;
	}
}

.Dialog .c-button {
	min-width: 25ch;
	min-height: 5ch;
	cursor: pointer;
	font-size: 1em;
	font-weight: 500;
	border-radius: 8px;
	border: 1px solid #aaa;
	padding: 0.8em 1.6em;
}

c-button-cancel:hover {
	background-color: #918f8f;
}

.c-button-confirm {
	background-color: var(--button-primary);
	border-radius: 8px;
	border: 1px solid #0f0f0f;
}

.c-button-confirm:hover {
	background-color: var(--button-primary-hover);
}

.Dialog--button-group > * {
	flex: 1 1 0;
}

.Dialog-alert {
	--button-alignment: 'center';

	border-radius: 20px;
	max-width: min(68ch, 95vw);
	padding: 0;
	z-index: 100;
	/* animation:
		slideInFromRight 0.8s ease-out,
		slideOutToRight 0.8s ease-in forwards; */
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}
