:root {
	--color-black: hsla(220, 13%, 18%, 1);
	--color-gray-dark: hsla(220, 13%, 25%, 1);
	--color-white: hsla(220, 13%, 98%, 1);
	--color-gray-light: hsla(220, 13%, 94%, 1);
	--color-emerald-green: hsla(168, 92%, 25%, 1);
	--color-vermillion-green: hsla(168, 92%, 43%, 1);
	--color-cobalt-blue: hsla(215, 100%, 34%, 1);
	--color-pastel-blue: hsla(215, 100%, 73%, 1);
	--color-red: hsl(0, 68%, 42%);

	--color-branding: #5a23b3;
	--color-branding-dark-mode: #6e3dbd;
	--color-accent: var(--color-pastel-blue);
	--color-bg: var(--color-black);
	--color-border: hsla(220, 13%, 32%, 1);
	--color-error: var(--color-red);
	--color-text: var(--color-white);
	--color-btn-bg-cancel: #cdcdcd;
	--color-btn-bg-confirm-hover: #3f0f7f;
	--color-btn-bg-cancel-hover: #989797;
	--color-btn-bg-delete-hover: #f14f4f;
	--color-btn-font-dark: var(--color-white);
	--color-clip-path: var(--color-accent);

	/* Button Styling Variables */
	--btn-bg-color-confirm: var(--color-branding);
	--btn-bg-color-confirm-hover: var(--color-btn-bg-confirm-hover);
	--btn-bg-color-cancel: var(--color-btn-bg-cancel);
	--btn-bg-color-cancel-hover: var(--color-btn-bg-cancel-hover);
	--btn-bg-color-delete: var(--color-red);
	--btn-bg-color-delete-hover: var(--color-btn-bg-delete-hover);
}

@media screen and (prefers-color-scheme: light) {
	:root {
		--color-accent: var(--color-cobalt-blue);
		--color-bg: var(--color-white);
		--color-input-bg: var(--color-white);
		--color-clip-path: var(--color-branding);
		--color-border: hsla(220, 13%, 78%, 1);
		--color-text: var(--color-black);
	}
}

:root.theme-light {
	--color-accent: var(--color-cobalt-blue);
	--color-bg: var(--color-white);
	--color-border: hsla(220, 13%, 78%, 1);
	--color-text: var(--color-black);
}

*,
*::after,
*::before {
	box-sizing: border-box;
}

/**
 * Make sure the app fills the height of the screen.
 */
body {
	height: 100dvh;
}

/**
 * Set the value of 1rem to 10px to make relative units
 * easier to work with.
 * (The default is 16px. 16 * 62.5% = 10)
 */
html {
	font-size: 62.5%;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		avenir next,
		avenir,
		segoe ui,
		helvetica neue,
		helvetica,
		Ubuntu,
		roboto,
		noto,
		arial,
		sans-serif;
	font-size: 1.8rem;
	line-height: 1.4;
	margin: 0;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	--color-bg: var(--color-gray-dark);
	--color-text: var(--color-accent);

	background-color: var(--color-bg);
	border-radius: 4px;
	color: var(--color-text);
	display: inline-block;
	font-family:
		Menlo,
		Consolas,
		Monaco,
		Liberation Mono,
		Lucida Console,
		monospace;
	font-size: 0.9em;
	padding: 0.15em 0.15em;
}

@media screen and (prefers-color-scheme: light) {
	code {
		--color-bg: var(--color-gray-light);
	}
}

:root.theme-light code {
	--color-bg: var(--color-gray-light);
}

/* GLOBAL STYLES FOR HTML ELEMENTS */

h1 {
	font-family: 'Righteous', sans-serif;
}

h3,
h4,
h5 {
	font-family: 'Righteous', sans-serif;
	font-weight: 400;
}

h5,
p {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

button {
	background-color: var(--btn-bg-color-confirm);
	border: 0;
	border-radius: 20px;
	color: var(--color-btn-font-dark);
	cursor: pointer;
	font-size: 1.6rem;
	font-family: 'Righteous', sans-serif;
	font-weight: 700;
	padding: 0.5em 1em;
	margin: 0.5em 0;
}

button:hover,
.create-list-btn:hover {
	background-color: var(--btn-bg-color-confirm-hover);
}

/* Styling Section for search Input */
/* https://www.youtube.com/watch?v=f6ocDCkCmhM */

.search-build {
	--padding: 8px;
	min-height: 50px;
	display: flex;
	align-items: center;
	padding: 0 8px;
	border-radius: 28px;
	background-color: var(--color-gray-light);
	transition: background-color 0.3s;
}

.search-build:focus-within {
	background: rgb(238, 238, 238);
}

.search-input {
	/* font-size: 16px; */
	font-family: 'Lexend', sans-serif;
	color: #333;
	margin-left: var(--padding);
	outline: none;
	background-color: transparent;
	border: none;
	flex: 1;
	padding: 0;
}

.search-input::placeholder,
.search-icon {
	color: #c2c2c2;
}

.new-list {
	display: none;
}

#shopping-list-input {
	/* Your styles for shopping-list-input */
	padding: 0.5em 1em;
	margin: 0.5em 0;
	border-radius: 15px 0px 0px 15px;
	height: 38px;
	width: 300px;
}

.create-list-btn {
	font-size: 1.6rem;
	font-family: 'Righteous', sans-serif;
	min-height: 38px !important;
	cursor: pointer;
	background-color: var(--btn-bg-color-confirm);
	border: 0;
	border-radius: 20px;
	color: var(--color-btn-font-dark);
	cursor: pointer;
	font-weight: 700;
	padding: 0.5em 1em;
	margin: 0.5em 0;
}
